<h2>Debug Area</h2>
<%= form_tag('/user_info', :method => :put) do %>
<input type="text" name="app_id" value="1">
<input type="text" name="user_id" value="1">
<input type="text" name="data" value="aaa">
<input type="submit">
<% end %>
